*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #46424D;
  color: #fff;
  height: 100px;
  width: 100%;
}

h2 {
  color: #cbc9cf;
  margin-bottom: 25px;
}

form {
  background-color: #46424D;
  margin-left: 15px;
}

aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  color: #cbc9cf;
  border-left: 2px solid #cbc9cf;
  padding-left: 30px;
}

img {
  height: 20px;
  width: 20px;
}

ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
}

li {
  border: solid 3px #fff;
  border-radius: 3px;
  margin: 50px;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 80px;
  align-items: center;
  flex-direction: column;

}

.tester {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
}

p {
  color: #fff;
}

label {
  color: #fff;

}

input {
  display: inline;
  margin-left: 10%;
  width: 80%;
  background-color: #46424D;
  border: solid 0px;
  border-bottom: solid #fff 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-right: 0;
  margin-left: 7%;
  margin-top: 10px;
}

label {
  margin-left: 10%;
}


#time {
  display: flex;
  flex-direction: row;

}
