*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #46424D;
  color: #fff;
  height: 60px;
  width: 100%;
  text-align: center;
}

h1 {
  padding-top: 10px;
}

a:link, a:active, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #2B2733;
}

h2 {
  color: #cbc9cf;
  margin-bottom: 10px;
  margin-left: 3%;
  padding-top: 30px;
}

form,
#icons {
  background-color: #46424D;
  margin-left: 3%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 10px 8px 0px;
}

#icons {
  display: block;
}

aside {
  width: 33%;
  height: 800px;
  display: flex;
  flex-direction: column;
  color: #cbc9cf;
  border-left: 2px solid #46424D;
  padding-left: 30px;
}

img {
}

/* icon selector */
ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  padding-bottom: 20px;
}

li {
  border-radius: 5px;
  border: solid 3px;
  margin: 3%;
  list-style: none;
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.study,
.study2,
.meditate,
.meditate2,
.exercise,
.exercise2 {
  color: #fff;
  height: 45%;
  width: 23%;
}

.li-study,
.li-meditate,
.li-exercise {
  height: 45%;
  width: 23%;
}

.li-study{
  color: #B3FD78;
}

.li-meditate{
  color: #C278FD;
}

.li-exercise{
  color: #FD8078;
}

.tester {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  width: 65%;
}

p {
  color: #fff;
}

label {
  color: #fff;
}

input {
  display: inline;
  margin-left: 10%;
  width: 80%;
  height: 30px;
  background-color: #46424D;
  border: solid 0px;
  border-bottom: solid #fff 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 18;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-right: 0;
  margin-left: 7%;
  margin-top: 10px;
}

label {
  margin-left: 10%;
}


/* timer clock */
#time {
  display: flex;
  flex-direction: row;
}

.formLog {
  float: right;
  margin: 20px;
  margin-right: 10%;
  height: 30px;
  width: 20%;
  font-size: 10px;
  border-radius: 4px;
}

#log {
  text-align: center;
  margin: 20px;
  width: 35%;
  font-size: 20px;
  border-radius: 4px;
  padding: 8px;
  color: #46424D;
}

.sidebar {
  display: block;
  text-align: center;
}

#show-timer {
  display: none;
  color: white;
  background-color: #46424D;
  box-shadow: 5px 10px 8px 0px black;
  margin-left: 3%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#start {
  background: none;
  border-radius: 50%;
  line-height: 100px;
  font-size: 40px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}


.timerStudy {
  align: center;
  width: 300px;
  height: 300px;
  border: 5px solid #B3FD78;
}

.timerMeditate {
  width: 300px;
  height: 300px;
  border: 5px solid #C278FD;
}

.timerExercise {
  width: 300px;
  height: 300px;
  border: 5px solid #FD8078;
}

.timerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

output {
  font-size: 50pt;
  text-align: center;
  margin-bottom: 50px;
}

h4 {
  font-size: 45px;
}

/* span {
  display: inline-block;
  font-size: 14px;
  color: #EFB7EC;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
} */

.warn {
  margin-bottom: 20px;
  margin-left: 7%;
  font-size: 14px;
  color: #EFB7EC;
  font-family: 'Montserrat', sans-serif;
}

.warn-icon {
  visibility: hidden;
  /* display: inline-block; */
  height: 20px;
  width: 20px;
  margin-right: 5px;
  /* margin-left: 10%; */
}

/* #warn1 {
  display: flex;
  flex-flow: row nowrap;
} */

#description {
  style: block;
}

#card {
  background-color: #46424D;
  margin-left: 3%;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  box-shadow: 2px 3px 3px 0px black;
  width: 85%;
  height: 80px;
  display: none;
}

h5{
  padding-bottom: 2px;
}

.cardActivity {
  color: #cbc9cf;
  font-size: 15px;
  padding-top: 5px;
}

.box {
  content: "";
  height: 35px;
  width: 4px;
  background-color: white;
  color: white;
  float: right;
  border-radius: 3px;
}

.boxStudy{
  background-color: #B3FD78;
}

.boxMeditate{
  background-color: #C278FD;
}

.boxExercise{
  background-color: #FD8078;
}
